@tailwind base;
@tailwind components;
@tailwind utilities;

/*
#121212 - Dark grey background
#0D47A1 - Primary bright blue
#1976D2 - 
#2196F3 
#333333
#EEEEEE 
#FF5252
*/

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255);
  }
}

body {
  background-color: rgb(18, 18, 18);
  font-family: arial, sans-serif;
}

.wrapper {
  width: 960px;
  margin: 1em auto;
  background-color: white;
  border: 1px solid silver;
  box-shadow: 2px 2px 5px black;
}

header {
  padding: 20px;
  padding-bottom: 20px;
  z-index: 1;
}

h1 {
  font-size: 140%;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 5px black;
  padding-bottom: 20px;
  @import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
}

nav {
  background-color: black;
  text-transform: uppercase;
  color: whitesmoke;
  border-style: groove;
  border-radius: 5px;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

nav li {
  padding: 1em;
  list-style-type: none;
}

nav li a {
  color: white;
  text-decoration: none;
  padding: 1em 2em;
}

nav li a:hover {
  background-color: black;
  border-radius: 1.5em;
}

body {
  color: rgb(var(--foreground-rgb));
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-half-container {
  display: flex;
  justify-content: center;
  width: 50vw;
  height: 100vh;
  flex-direction: column;
  top: 0;
  left: 0;
}

.heading {
  text-transform: uppercase;
  font-size: 30px;
  margin: 20px 0;
  color: white;
  z-index: 1;
  text-align: center;
}

@media (max-width: 800px) {
  .heading {
    margin: 15px 0;
    font-size: 35px;
  }
}

.logo-image {
  position: absolute;
  top: 10px;
  left: 50px;
  max-width: 10%;
  max-height: 10%;
}

/* Style the select element */
.my-4 select {
  background-color: #1976D2; /* Green background */
  color: white; /* White text color */
  padding: 8px 32px; /* Some padding */
  font-size: 16px; /* Size of the font */
  border: none; /* No border */
  flex-direction: column;
  cursor: pointer; /* Pointer/hand icon */
  border-radius: 5px; /* Rounded corners */
  -webkit-appearance: none; /* Removes default styling on iOS */
  -moz-appearance: none; /* Removes default styling on Firefox */
  appearance: none; /* Removes default styling */
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); /* Box shadow for 3D effect */
}

/* Style the select element on hover & focus */
.my-4 select:hover, .my-4 select:focus {
  background-color: #155ea7; /* Darker green background on hover/focus */
}

/* Container for the select element to position it correctly */
.my-4 {
  position: relative; /* Needed to position the arrow icon */
  display: inline-block; /* Needed for positioning the arrow icon correctly */
}

/* Create a tornado indicator class */
.tornado-indicator {
  width: 30%;
  height: 15%;
  flex-direction: column;
  border-radius: 10px;
  background-color: #155ea7;
}